<h1>Listing match_win_links</h1>

<table>
  <tr>
    <th>Match</th>
    <th>Next match</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @match_win_links.each do |match_win_link| %>
  <tr>
    <td><%= match_win_link.match_id %></td>
    <td><%= match_win_link.next_match_id %></td>
    <td><%= link_to 'Show', match_win_link %></td>
    <td><%= link_to 'Edit', edit_match_win_link_path(match_win_link) %></td>
    <td><%= link_to 'Destroy', match_win_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match win link', new_match_win_link_path %>
