<table class="table table-striped datatable">
	<thead>
	<tr>
		<th><%= t("simple_form.labels.store_item.name") %></th>
		<th><%= t("simple_form.labels.store_item.stock") %></th>
		<th><%= t("simple_form.labels.store_item.purchase_price") %></th>
		<th class="action-column"></th>
	</tr>
	</thead>

	<tbody>
	<% store_items.each do |store_item| %>
		<tr class="<%= stock_warning_color(store_item) %>">
			<td><%= store_item.name %></td>
			<td><%= store_item.stock %></td>
			<td><%= store_item.purchase_price %></td>
			<td class="action-column"><%= render_actions.call(store_item) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
