<% title "Rounds" %>

<table>
	<tr>
		<th>Compo</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @rounds.each do |round| %>
		<tr>
			<td><%= round.compo_id %></td>
			<td><%= link_to t(:show), round %></td>
			<td><%= link_to t(:edit), edit_round_path(round) %></td>
			<td><%= link_to t(:destroy), round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<br/>

<%= link_to t(:new, :model => t("round.one")), new_round_path %>
