<%= simple_form_for(@user) do |f| %>
	<%= f.input :username %>
	<%= f.input :clan_tag, :input_html => { data: { autocomplete_source: Clan.order(:tag).map(&:tag) } } %>
	<%= f.input :payed if logged_in? and current_user.access_allowed?(:user_editing) %>
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :password_confirmation, :required => true %>
	<%= f.association :user_groups, :multiple => true if current_user and current_user.access_allowed? :user_editing %>
    <%= f.input :account_balance if logged_in? and current_user.access_allowed?(:user_editing) %>
	<%= f.input :pending_order_sound, :collection => User.all_sounds.map { |sound| sound[:name] },
	            :input_html => { :id => "sound-selector", "data-soundtestpath" => util_soundtest_path } if current_user and current_user.access_allowed? :cashier_service %>
    <%= f.button :submit, (@user.new_record? ? t(".sign_up_btn") : t(".update_btn")) %>
<% end %>
<div id="sound-test-area"></div>