<% title t("participant.other") %>
<% canview = current_user && current_user.access_allowed?(:user_detail_viewing) %>
<% admin = current_user && current_user.access_allowed?(:user_editing) %>
<table class="table table-striped datatable">
	<thead>
	<tr>
		<th class="action-column"></th>
		<th><%= t("simple_form.labels.user.username") %></th>
		<th nowrap><%= t("simple_form.labels.user.badge") %></th>
		<th><%= t("simple_form.labels.user.clan_tag") %></th>
		<th class="visible-md visible-lg"><%= t("simple_form.labels.user.payed") %></th>
		<% if canview %>
			<th class="visible-md visible-lg"><%= t("simple_form.labels.user.email") %></th>
			<th class="visible-md visible-lg"><%= t("simple_form.labels.user.user_groups") %></th>
		<% end %>
		<% if admin %>
			<th class="action-column"></th>
		<% end %>
	</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr class="<%= canview ? (user.payed ? "success" : "danger") : "" %>">
			<td class="action-column"><%= image_tag(avatar_url(user), alt: "Icon") %></td>
			<td><%= user.username %> </td>
			<td nowrap><%= render partial: "badges", locals: { user: user } %></td>
			<td title="<%= user.clan_tag %>" ><%= user.clan.get_view_tag if user.clan %></td>
			<td class="visible-md visible-lg">
				<span class="hide"><%= user.payed %></span><i class="fa <%= user.payed ? "fa-check-square-o" : "fa-square-o" %>"></i>
			</td>
			<% if canview %>
				<td class="visible-md visible-lg"><%= user.email %></td>
				<td class="visible-md visible-lg"><%= user.user_groups.map { |grp| grp.name }.join(", ") %></td>
			<% end %>
			<% if admin %>
				<td class="action-column"><%= standard_edit_buttons(user) %></td>
			<% end %>
		</tr>
	<% end %>
	</tbody>
</table>

<% if admin %>
	<%= link_to t(:new, model: t("user.one")), new_user_path, class: "btn btn-default" %>
	<h4><%= t(".payment_processing") %></h4>
	<%= render 'payed_form' %>
<% end %>
