<p class="avatar"> <%= image_tag avatar_url @user %> </p>
<p class="field">
	<b><%= t(:username) %>:</b> <%= @user.username %> <%= render :partial => "badges", :locals => { :user => @user } %>
</p>
<p class="field"><b><%= t("clan.one") %>:</b> <%= @user.clan.tag if @user.clan %> </p>
<p class="field"><b><%= t(:email) %>:</b> <%= @user.email %> </p>
<% if current_user && (current_user == @user || current_user.access_allowed?(:user_editing)) %>
<p class="field"><b><%= t("simple_form.labels.user.account_balance") %>:</b> <%= number_to_currency @user.account_balance, :unit => "€" %> </p>
<% end %>

<%= link_to t(:edit), edit_user_path(@user), class: "btn" if current_user and current_user == @user %>

<%#= render :partial => 'logs/log_list', :locals => {:logs => @user.logs, :no_user => true} %>
