<% buttons    ||= buttons.nil? %>
<% slots      ||= slots.nil? %>
<% group_size ||= group_size.nil? %>
<% date       ||= date.nil? %>
<% admin = current_user && current_user.access_allowed?(:compo_editing) %>


<tr>
	<td><%= link_to compo.game.name, compo %></td>
	<% if slots %>      <td><%= compo.teams.count %>/<%= compo.slots %> </td> <% end %>
	<% if group_size %> <td><%= compo.group_size %>                     </td> <% end %>
	<% if date %>       <td><%= l(compo.date_time, :format => :short) %></td> <% end %>
	<% if buttons %>
		<% if compo.users.include? current_user %>
			<td class="action_column"><%= link_to t(:subscribe), "#", class: "btn btn-success", disabled:true %></td>
		<% else %>
			<td class="action_column"><%= link_to t(:subscribe), new_team_path(compo:compo), class: "btn btn-success" %></td>
		<% end %>
	<% end %>
	<% if admin && buttons %>
		<td class="action-column"><%= standard_edit_buttons(compo) %></td>
	<% end %>
</tr>
