<% admin = current_user && current_user.access_allowed?(:compo_editing) %>
<% title t("compo.other") %>

<table class="table table-striped datatable">
	<thead>
		<tr>
			<th><%= t("simple_form.labels.compo.game") %></th>
			<th><%= t("simple_form.labels.compo.slots") %></th>
			<th><%= t("simple_form.labels.compo.group_size") %></th>
			<th><%= t("simple_form.labels.compo.date_time") %></th>
            <% if admin %>
			<th class="action_column"></th>
			<th class="action_column"></th>
			<th class="action_column"></th>
            <% end %>
		</tr>
	</thead>

	<tbody>
		<% @compos.each do |compo| %>
		<tr>
			<td><%= compo.game.name %></td>
			<td><%= compo.slots %></td>
			<td><%= compo.group_size %></td>
			<td><%= l(compo.date_time, :format => :short) %></td>
            <% if admin %>
			<td class="action_column"><%= link_to t(:show), compo, class: "btn" %></td>
			<td class="action_column"><%= link_to t(:edit), edit_compo_path(compo), class:"btn" %></td>
			<td class="action_column"><%= link_to t(:destroy), compo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
            <% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to t(:new, :model => t("compo.one")), new_compo_path, class: "btn" if logged_in? and current_user.access_allowed? :compo_editing %>
