<% admin = current_user && current_user.access_allowed?(:compo_editing) %>
<% title t("compo.other") %>

<table class="table table-striped datatable">
	<thead>
	<tr>
		<th><%= t("simple_form.labels.compo.game") %></th>
		<th><%= t("simple_form.labels.compo.slots") %></th>
		<th><%= t("simple_form.labels.compo.group_size") %></th>
		<th><%= t("simple_form.labels.compo.date_time") %></th>
		<% if admin %>
			<th class="action_column"></th>
			<th class="action_column"></th>
			<th class="action_column"></th>
			<th class="action_column"></th>
		<% end %>
	</tr>
	</thead>

	<tbody>
	<% @compos.each do |compo| %>
		<%= render partial: "table_row", locals: {compo: compo} %>
	<% end %>
	</tbody>
</table>

<%= link_to t(:new, :model => t("compo.one")), new_compo_path, class: "btn" if logged_in? and current_user.access_allowed? :compo_editing %>
