<p id="notice"><%= notice %></p>

<p>
	<b>Game:</b>
	<%= @compo.game.name %>
</p>

<p>
	<b>Slots:</b>
	<%= @compo.slots %>
</p>

<p>
	<b>Group size:</b>
	<%= @compo.group_size %>
</p>

<p>
	<b>Datetime:</b>
	<%= @compo.date_time %>
</p>

<p>
	<b>Date:</b>
	<%= @compo.time %>
</p>

<p>
	<b>Info:</b>
	<%= @compo.info %>
</p>


<%= link_to 'Edit', edit_compo_path(@compo) %> |
<%= link_to 'Back', compos_path %>
