<p>
	<b>Game:</b>
	<%= @compo.game.name %>
</p>

<p>
	<b>Slots:</b>
	<%= @compo.slots %>
</p>

<p>
	<b>Group size:</b>
	<%= @compo.group_size %>
</p>

<p>
	<b>Datetime:</b>
	<%= @compo.date_time %>
</p>

<p>
	<b>Description:</b>
	<%= @compo.description %>
</p>
<p class="">
	<b>Featured:</b>
	<%= @compo.featured %>
</p>
<p class="">
	<b>Game: </B>
	<%= link_to @compo.game.name, @compo.game %>
</p>

<%= link_to t(:edit), edit_compo_path(@compo), class: "btn" %> |
<%= link_to 'Back', compos_path, class: "btn" %>

<ul>
	<% @compo.teams.each do |team| %>
		<li><%= link_to team.name, team %></li>
	<% end %>
</ul>
