<p>
	<b>Game:</b>
	<%= @compo.game.name %>
</p>

<p>
	<b>Slots:</b>
	<%= @compo.slots %>
</p>

<p>
	<b>Group size:</b>
	<%= @compo.group_size %>
</p>

<p>
	<b>Datetime:</b>
	<%= @compo.date_time %>
</p>

<p>
	<b>Description:</b>
	<%= @compo.description %>
</p>
<p class="">
	<b>Featured:</b>
	<%= @compo.featured %>
</p>
<p class="">
	<b>Game: </B>
	<%= link_to @compo.game.name, @compo.game %>
</p>

<table class="table table-striped datatable">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<% @compo.teams.each do |team| %>
		<%= render partial:"teams/table_row", locals:{buttons:false, team:team, compo:false, time:false} %>
	<% end %>
</table>

<%= link_to t(:edit), edit_compo_path(@compo), class: "btn" %> |
<%= link_to 'Back', compos_path, class: "btn" %>


<div id="brackets" class="demo">
</div>

<div id="saveOutput">
	
</div>
<%= render partial:"bracket_form" %>
<script type="text/javascript" charset="utf-8">
var saveData =  <%=raw @compo.bracket_string  %>

///* Called whenever bracket is modified
// *
// * data:     changed bracket object in format given to init
// * userData: optional data given when bracket is created.
// */
function saveFn(data, userData) {
  var json = JSON.stringify(data) //jQuery.toJSON(data)
  $('#compo_bracket_string').val(json)
}
$(function() {
    var container = $('#brackets')
    container.bracket({
      init: saveData,
      save: saveFn,
      userData: "http://myapi"})
  })
</script>
