<p id="notice"><%= notice %></p>

<p>
	<b>Game:</b>
	<%= @compo.game.name %>
</p>

<p>
	<b>Slots:</b>
	<%= @compo.slots %>
</p>

<p>
	<b>Group size:</b>
	<%= @compo.group_size %>
</p>

<p>
	<b>Datetime:</b>
	<%= @compo.date_time %>
</p>

<p>
	<b>Description:</b>
	<%= @compo.description %>
</p>
<p class=""> 
	<b>Featured:</b>
	<%= @compo.featured %>
	</p>
<p class=""> 
	<b>Game: </B>
	<%= link_to @compo.game.name, @compo.game %>
</p>

<%= link_to 'Edit', edit_compo_path(@compo) %> |
<%= link_to 'Back', compos_path %>
