<table class="table table-striped">
	<thead>
	<tr>
		<th class="action-column"><%= t(".amount") %></th>
		<th><%= t(".product") %></th>
		<th class="order-price"><%= t(".unit_price") %></th>
		<th class="order-price"><%= t(".price") %></th>
		<th class="action-column"></th>
	</tr>
	</thead>
	<tbody>
	<% order.order_items.each do |order_item| %>
		<tr class="<%= order_item_stock_color(order_item) %>">
			<td class="action-column">
				<%= simple_form_for([order, order_item], :remote => true, class: "order-amount-form") do |f| %>
					<%= f.input_field :count, :value => order_item.count, class: "order-amount" %>
				<% end %>
			</td>
			<td><%= order_item.store_item.name %></td>
			<td><%= order_item.unit_price order.user %></td>
			<td><%= order_item.price order.user %></td>
			<td class="action-column"><%= link_to content_tag("i", "", :class => "icon-trash"), order_order_item_path(order, order_item), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-mini" %></td>
		</tr>
	<% end %>
	<tr class="info">
		<td></td>
		<td><%= link_to content_tag("i", "", :class => "icon-plus"), new_order_order_item_path(order), class: "btn btn-small" %></td>
		<td><strong><%= t(".total") %></strong></td>
		<td><%= order.total_price %></td>
		<td></td>
	</tr>
	</tbody>
</table>
