<% title t(".order", :user => @order.user.username) %>

<% content_for(:before_title) do %>
	<%= form_tag(scan_order_order_items_path(@order), :remote => true, :data => { :static => true }, :class => "pull-right") do %>
		<%= text_field_tag :barcode %>
	<% end %>
<% end %>

<div id="order-item-table">
	<%= render :partial => "order_items", :locals => { :order => @order } %>
</div>
<div class="pull-right">
  <%= link_to content_tag("i", "", :class => "icon-spinner icon-spin order-lock-indicator") + t(".place"), place_order_path(@order), method: "PUT", class: "btn btn-success btn-order-submit-button" if @order.status == :open %>
  <%= link_to t(".pay"), pay_order_path(@order), method: "PUT", class: "btn btn-warning order-submit-button" if current_user.access_allowed? :order_processing %>
</div>
