<% if not logged_in? %>
	<h2> Login </h2>
	<%= render partial: "sessions/small_form" %>
<% end %>
<h2>Information</h2>
<table class="table table-striped">
	<tr><td> <b>Registrations:</b>  </td> <td> <%= Settings.registration_available ? "Open" : "Closed" %> </td> </tr>
	<tr><td> <b>Location:</b>       </td> <td> <%= Settings.location %>                                   </td> </tr>
	<tr><td> <b>Date:</b>           </td> <td> <%= Settings.date %>                                       </td> </tr>
	<tr><td> <b>Open Slots:</b>     </td> <td> <%= Settings.max_participants - User.count %>              </td> </tr>
	<tr><td> <b>Payed:</b>          </td> <td> <%= User.payed.count %>/<%= Settings.max_participants %>   </td> </tr>
</table>
