<div class="carousel slide" id="slider">
	<div class="carousel-inner">
		<div class="active item">
			<%= image_tag("bam1.jpg") %>
			<div class="container">
				<div class="carousel-caption">
						lalalala
						<%= Time.now %>
				</div>
			</div>
		</div>
		<% @featured_compos.each do |compo| %>
			<div class="item">
				<%= link_to image_tag(compo.game.image_url(:front)), compo %>
				<div class="container">
					<div class="carousel-caption">
						<%= compo.description %>
						<%= compo.date_time %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>
</div>
