<%= form_for(@pricing_default) do |f| %>
  <% if @pricing_default.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pricing_default.errors.count, "error") %> prohibited this pricing_default from being saved:</h2>

      <ul>
      <% @pricing_default.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :rounding_precision %><br />
    <%= f.text_field :rounding_precision %>
  </div>
  <div class="field">
    <%= f.label :ratio %><br />
    <%= f.text_field :ratio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
