<h1><%= t("pricing_default.other") %></h1>

<table class="table">
	<tr>
		<th><%= t("simple_form.labels.pricing_default.name") %></th>
		<th><%= t("simple_form.labels.pricing_default.description") %></th>
		<th class="action-column"></th>
	</tr>

	<% @pricing_defaults.each do |pricing_default| %>
		<tr>
			<td><%= pricing_default.name %></td>
			<td><%= pricing_default.description %></td>
			<td class="action-column"><%= standard_edit_buttons(pricing_default) %></td>
		</tr>
	<% end %>
</table>

<br/>

<%= link_to t(:new, :model => t("pricing_default.one")), new_pricing_default_path, class: "btn btn-default" %>
