<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pricing_default.name %>
</p>

<p>
  <b>Description:</b>
  <%= @pricing_default.description %>
</p>

<p>
  <b>Transformation:</b>
  <%= @pricing_default.transform %>
</p>


<%= link_to 'Edit', edit_pricing_default_path(@pricing_default) %> |
<%= link_to 'Back', pricing_defaults_path %>
