<table class="table">
	<tr>
		<th><%= t(:name) %></th>
		<th><%= t(:info) %></th>
		<th><%= t(:download_location) %></th>
		<th class="action_column"></th>
		<th class="action_column"></th>
		<th class="action_column"></th>
	</tr>

<% games.each do |game| %>
	<tr>
		<td><%= game.name %></td>
		<td><%= game.info %></td>
		<td><%= game.download_location %></td>
		<td><%= link_to t(:show), game, class: "btn" %></td>
		<td><%= link_to t(:edit), edit_game_path(game), class: "btn" %></td>
		<td><%= link_to t(:destroy), game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
	</tr>
<% end %>
</table>
