<% admin = current_user && current_user.access_allowed?(:compo_editing) %>
<table class="table">
	<tr>
		<th><%= t("simple_form.labels.game.name") %></th>
		<th><%= t("simple_form.labels.game.info") %></th>
		<% if admin %>
			<th><%= t("simple_form.labels.game.download_location") %></th>
			<th class="action-column"></th>
		<% end %>
	</tr>

	<% games.each do |game| %>
		<tr>
			<td><%= game.name %></td>
			<td><%= game.info %></td>
			<% if admin %>
				<td><%= game.download_location %></td>
				<td class="action-column"><%= standard_edit_buttons(game) %></td>
			<% end %>
		</tr>
	<% end %>
</table>
