<p>
	<b><%= t("simple_form.labels.game.image") %>:</b>
	<%= image_tag @game.image_url(:front).to_s %>
</p>

<p>
	<b><%= t("simple_form.labels.game.name") %>:</b>
	<%= @game.name %>
</p>

<p>
	<b><%= t("simple_form.labels.game.info") %>:</b>
	<%= @game.info %>
</p>

<p>
	<b><%= t("simple_form.labels.game.download_location") %>:</b>
	<%= @game.download_location %>
</p>


<%= link_to t(:edit), edit_game_path(@game), class: "btn" %> |
<%= link_to 'Back', games_path, class: "btn" %>
