<p id="notice"><%= notice %></p>

<p>
	<b>Name:</b>
	<%= @game.name %>
</p>

<p>
	<b>Info:</b>
	<%= @game.info %>
</p>

<p>
	<b>Download location:</b>
	<%= @game.download_location %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
