<p id="notice"><%= notice %></p>

<p>
	<b>image:</b>
	<%= image_tag @game.image_url(:front).to_s %>
</p>

<p>
	<b>Name:</b>
	<%= @game.name %>
</p>

<p>
	<b>Info:</b>
	<%= @game.info %>
</p>

<p>
	<b>Download location:</b>
	<%= @game.download_location %>
</p>


<%= link_to t(:edit), edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
