<p>
	<b><%= t(:image) %>:</b>
	<%= image_tag @game.image_url(:front).to_s %>
</p>

<p>
	<b><%= t(:name) %>:</b>
	<%= @game.name %>
</p>

<p>
	<b><%= t(:info) %>:</b>
	<%= @game.info %>
</p>

<p>
	<b><%= t(:download_location) %>:</b>
	<%= @game.download_location %>
</p>


<%= link_to t(:edit), edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
