<%= form_for(@store_item_class) do |f| %>
  <% if @store_item_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_item_class.errors.count, "error") %> prohibited this store_item_class from being saved:</h2>

      <ul>
      <% @store_item_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <%= f.text_field :parent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
