<h1>Listing store_item_classes</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Parent</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @store_item_classes.each do |store_item_class| %>
		<tr>
			<td><%= store_item_class.name %></td>
			<td><%= store_item_class.parent %></td>
			<td><%= link_to t(:show), store_item_class %></td>
			<td><%= link_to t(:edit), edit_store_item_class_path(store_item_class) %></td>
			<td><%= link_to t(:destroy), store_item_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<br/>

<%= link_to t(:new, :model => t("store_item_class.one")), new_store_item_class_path %>
