<p id="notice"><%= notice %></p>

<p>
	<b>Info:</b>
	<%= @price.info %>
</p>

<p>
	<b>Value:</b>
	<%= @price.value %>
</p>

<p>
	<b>Sponsor:</b>
	<%= @price.sponsor %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
