<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<%= link_to t(:iLan), root_url, class:"brand" %>
			<div class="nav-collapse collapse">
				<ul class="nav pull-left">
					<li class=<%= active_class('users') %> ><%= link_to t(:user, :count => 50), users_path %></li>
					<li class=<%= active_class('compos') %> ><%= link_to t(:compo, :count => 50), compos_path %></li>
					<li class=<%= active_class('store_items') %> ><%= link_to t(:store_item, :count => 50), store_items_path %></li>					
				</ul>
				<ul class="nav  pull-right">
					<% if self.current_user %>
					<li class=<%= active_class('profile') %> ><%= link_to image_tag(avatar_url(self.current_user), class: 'nav-profile-logo')+" "+self.current_user.username, self.current_user %></li>
					<li class="divider-vertical"></li>
					<li><%= link_to t(:logout), logout_path %></li>
					<% else %>
					<li><%= link_to t(:login), login_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
