<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<%= link_to t(:iLan), home_path, :class => "brand" %>
			<div class="nav-collapse collapse">
				<ul class="nav pull-left">
					<li class="dropdown visible-smalldesktop">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Info
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="<%= active_class('pages#info') %>"><%= link_to t(:info), controller: :pages, action: :info %></li>
							<li class="<%= active_class('pages#location') %>"><%= link_to t(:location), controller: :pages, action: :location %></li>
							<li class="<%= active_class('pages#rules') %>"><%= link_to t(:rules), controller: :pages, action: :rules %></li>
							<li class="<%= active_class('pages#faq') %>"><%= link_to t(:faq), controller: :pages, action: :faq %></li>
						</ul>
					</li>
					<li class="<%= active_class('pages#info') %> hidden-smalldesktop"><%= link_to t(:info), controller: :pages, action: :info %></li>
					<li class="<%= active_class('games') %>"><%= link_to t("game.other"), games_path %></li>
					<% if current_user %>
						<li class="<%= active_class('compos') %>"><%= link_to t("compo.other"), compos_path %></li>
					<% end %>
					<li class="<%= active_class('users') %>"><%= link_to t("participant.other"), users_path %></li>
					<li class="<%= active_class('pages#location') %> hidden-smalldesktop"><%= link_to t(:location), controller: :pages, action: :location %></li>
					<li class="<%= active_class('pages#rules') %> hidden-smalldesktop"><%= link_to t(:rules), controller: :pages, action: :rules %></li>
					<li class="<%= active_class('pages#faq') %> hidden-smalldesktop"><%= link_to t(:faq), controller: :pages, action: :faq %></li>
					<li class="<%= active_class('pages#contact') %>"><%= link_to t(:contact), controller: :pages, action: :contact %></li>
					<% if admin_accessible %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Admin
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to t("user_group.other"), user_groups_path if current_user.access_allowed? :user_editing %></li>
								<li><%= link_to t("sponsor.other"), sponsors_path if current_user.access_allowed? :sponsor_editing %></li>
							</ul>
						</li>
					<% end %>
				</ul>
				<ul class="nav  pull-right">
					<% if I18n.locale == :nl %>
						<li><%= link_to t("lang.en", :locale => :en), url_for(:locale => :en) %></li>
					<% else %>
						<li><%= link_to t("lang.nl", :locale => :nl), url_for(:locale => :nl) %></li>
					<% end %>
					<li class="divider-vertical"></li>
					<% if current_user %>
						<li class="<%= active_class('profile') %>"><%= link_to image_tag(avatar_url(current_user), class: 'nav-profile-logo')+" "+current_user.username, current_user, class: "nav-profile-logo" %></li>
						<li class="divider-vertical"></li>
						<li><%= link_to t(:logout), logout_path %></li>
					<% else %>
						<li><%= link_to t(:login), login_path %></li>
						<li class="navbar-text"><%= t(:or) %></li>
						<li><%= link_to t(:signup), signup_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
