!!!
%html
	%head
		%title= content_for?(:title) ? yield(:title) : "ILAN"
		= stylesheet_link_tag "application"
		= javascript_include_tag :application
		= javascript_include_tag dynamic_scripts_datatables_path
		= csrf_meta_tag
		= yield(:head)
	%body
		.flash-messages
			= render partial: 'layouts/flash_messages'
		= render partial: 'layouts/header'
		= yield(:before_container)
		.container
			= render partial: 'layouts/content'
