<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? yield(:title) : "ILAN" %></title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag :application %>
	<%= csrf_meta_tag %>
	<%= yield(:head) %>
</head>
<body>
<div id="flash-messages">
	<%= render :partial => 'layouts/flash_messages' %>
</div>
<%= render :partial => 'layouts/header' %>
<%= yield(:before_container) %>
<div class="container">
	<%= render :partial => 'layouts/content' %>
</div>
</body>
</html>
